# Python specific
__pycache__/
*.py[cod]
*.egg-info/
*.log/
*.tmp/

# Virtual environment
venv/
env/

# Environment variables
*.env
.env

# IDE and editor settings
.vscode/
.idea/
*.swp

# macOS system files
.DS_Store

# Logs and databases
*.sqlite3
*.db

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled and temporary files
*.pyo
*.pyd
*.pdb
*.tmp
*.bak
*.old

# Docker ignore
docker-compose.override.yml

# website
website/

 Ignore the Google client secret JSON file
client_secret_387366114996-cs5icp92iprh9bbuim7kffhrnbd3fvah.apps.googleusercontent.com.json