# Python specific
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.tmp/
*.so
*.dylib
*.dll

# Virtual environment
venv/
env/
.env/
.venv/
ENV/
env.bak/
venv.bak/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
*.env
.env

# IDE and editor settings
.idea/
*.swp
.vscode/
*.sublime-workspace
*.sublime-project

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Logs and databases
*.sqlite3
*.db
*.log
logs/

# Pytest cache
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled and temporary files
*.pyo
*.pyd
*.pdb
*.tmp
*.bak
*.old

# Docker ignore
docker-compose.override.yml

# Distribution / packaging
dist/
build/
*.egg
*.whl

# website
website/

# Ignore the Google client secret JSON file
client_secret_387366114996-cs5icp92iprh9bbuim7kffhrnbd3fvah.apps.googleusercontent.com.json

# Large binary files
.venv/lib/python3.9/site-packages/onnxruntime/capi/onnxruntime_pybind11_state.so
.venv/lib/python3.9/site-packages/torch/lib/libtorch_cpu.dylib

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db